@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  font-family: "Cormorant Garamond", serif;
}

.container {
  max-width: 968px;
}

.footer__list, .write__container-submit, .story__data, .nav__social-list, .nav__toggle, .nav__container, .nav {
  display: flex;
}

.story__container {
  display: grid;
}

.section {
  border-top: 1px solid rgba(168, 144, 144, 0.5);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  border: 1px solid rgba(207, 181, 181, 0.7);
  padding: 0.6rem 1.2rem;
  color: #b99595;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 0 2px #b99595;
  width: 78px;
  text-align: center;
}

input, textarea {
  outline: none;
  border: none;
  border: 1px solid #ece6e6;
  background-color: white;
  border-radius: 5px;
}

input::placeholder {
  font-family: "Cormorant Garamond";
  font-weight: 700;
}

@media screen and (max-width: 599px) {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 100;
  }

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    padding: 2.5rem 0 0;
    text-align: right;
    background-color: white;
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    z-index: 80;
    border-radius: 0 0 15px 15px;
  }

  .nav__list {
    display: block;
    text-align: center;
  }
  .nav__list .nav__item {
    margin-left: 0;
  }
  .nav__list .nav__link {
    transition: 0.3s;
    display: inline-block;
    width: 100%;
    padding: 0.8rem 0;
    border-top: 1px solid #a89090;
  }
}
.show-menu {
  top: calc(3.3rem + 1rem);
}

.nav {
  padding: 1rem 3rem 1rem 3.75rem;
  justify-content: space-between;
  align-items: center;
}
.nav__container {
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: 700;
  font-size: 1.1rem;
}
.nav__toggle {
  font-size: 30px;
}
.nav__toggle i {
  padding-top: 5px;
}
.nav__social {
  display: none;
}
.nav__social-item {
  margin-right: 0.7rem;
}
@media (min-width: 600px) {
  .nav .nav__toggle {
    display: none;
  }
  .nav .nav__menu {
    display: block;
  }
  .nav .nav__menu .nav__item {
    margin-left: 1rem;
  }
  .nav .nav__list {
    display: flex;
  }
}
@media (min-width: 850px) {
  .nav {
    justify-content: space-between;
  }
  .nav .nav__social {
    display: block;
  }
}

.story__img {
  width: 100%;
}
.story__data {
  padding: 3rem 3rem;
  flex-direction: column;
  align-self: center;
}
.story__data .story__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.story__data .story__text {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: justify;
}
.story__data .button {
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .story .story__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .story .story__data {
    order: -1;
  }
  .story .story__img {
    height: 550px;
  }
  .story .story__img img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .story .story__order {
    order: 1;
  }
}

@media (min-width: 850px) {
  .container {
    margin: auto;
  }

  .story:nth-child(2) .story__container {
    grid-template-columns: 33% 1fr;
  }
  .story:nth-child(2) .story__container .story__img {
    height: auto;
  }

  .story:nth-child(3) .story__container {
    grid-template-columns: 1fr 33%;
  }
  .story:nth-child(3) .story__container .story__img {
    height: auto;
  }
}
.gallery__container {
  position: relative;
}
.gallery__container .gallery__img:nth-of-type(2) {
  display: none;
}
.gallery__container .gallery__img:nth-of-type(3) {
  display: none;
}
.gallery__container .gallery__img:nth-of-type(4) {
  display: none;
}
.gallery__title-center {
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.gallery__img {
  width: 100%;
  position: relative;
}
.gallery__date {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  position: absolute;
  width: 70%;
  top: 20%;
  left: 15%;
  opacity: 0;
  transition: 0.3s;
}
.gallery__title {
  color: #ffffff;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.gallery__text {
  color: #ffffff;
  font-size: 0.8rem;
  padding-bottom: 2rem;
}
.gallery .button {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: auto;
}
.gallery__icon-left {
  display: inline-block;
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: calc(50% - 20px);
  left: 0;
}
.gallery__icon-left i {
  color: #ffffff;
  font-size: 40px;
}
.gallery__icon-right {
  display: inline-block;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: calc(50% - 20px);
  right: 0;
}
.gallery__icon-right i {
  color: #ffffff;
  font-size: 40px;
}
.gallery__container:hover .gallery__icon-left, .gallery__container:hover .gallery__icon-right {
  opacity: 1;
}
.gallery__img:nth-child(2):hover .gallery__date {
  opacity: 0.9;
}
.gallery__img:nth-child(2):hover img {
  filter: brightness(0.5);
}
.gallery__img:nth-child(3):hover .gallery__date {
  opacity: 0.9;
}
.gallery__img:nth-child(3):hover img {
  filter: brightness(0.5);
}
.gallery__img:nth-child(4):hover .gallery__date {
  opacity: 0.9;
}
.gallery__img:nth-child(4):hover img {
  filter: brightness(0.5);
}
.gallery__img:nth-child(5):hover .gallery__date {
  opacity: 0.9;
}
.gallery__img:nth-child(5):hover img {
  filter: brightness(0.5);
}
@media (min-width: 600px) {
  .gallery .gallery__container .gallery__img:nth-of-type(2) {
    display: block;
  }
  .gallery .gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    object-fit: cover;
  }
  .gallery .gallery__img {
    height: 250px;
  }
  .gallery .gallery__img img {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 850px) {
  .gallery .gallery__container .gallery__img:nth-of-type(3) {
    display: block;
  }
  .gallery .gallery__container .gallery__img:nth-of-type(4) {
    display: block;
  }
  .gallery .gallery__container {
    grid-template-columns: 1fr 1fr 16% 1fr;
  }
}

.featur {
  text-align: center;
}
.featur__title-center {
  padding: 3rem;
  font-size: 3rem;
  font-weight: 600;
}
.featur__data {
  padding: 4rem 3rem;
  border-bottom: 1px solid rgba(168, 144, 144, 0.5);
  width: 100%;
  margin: auto;
}
.featur .air {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../icon/airplane-48.png) 0 0/100% no-repeat;
}
.featur .map {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../icon/map_marker-48.png) 0 0/100% no-repeat;
}
.featur .movie {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../icon/movie-48.png) 0 0/100% no-repeat;
}
.featur .clock {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../icon/alarm_clock-48.png) 0 0/100% no-repeat;
}
.featur .face {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../icon/face-48.png) 0 0/100% no-repeat;
}
.featur .genius {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../icon/genius-48.png) 0 0/100% no-repeat;
}
.featur__title {
  font-size: 1rem;
  padding: 1.5rem 0;
}
.featur__text {
  width: 60%;
  margin: auto;
}
.featur .featur__container-grid {
  grid-template-columns: 1fr;
}
@media (min-width: 600px) {
  .featur .featur__container-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .featur .featur__data,
.featur .featur__text {
    width: auto;
  }
  .featur .featur__data {
    border: none;
  }
  .featur .featur__container-grid .featur__container:nth-child(odd) {
    border-right: 1px solid #a89090;
  }
  .featur .featur__container-grid .featur__container:nth-child(n+3) {
    border-top: 1px solid #a89090;
  }
}
@media (min-width: 850px) {
  .featur .featur__container-grid {
    grid-template-columns: repeat(3, minmax(275px, 1fr));
  }
  .featur .featur__container {
    border: none;
  }
  .featur .featur__container-grid .featur__container:nth-child(odd) {
    border: none;
  }
  .featur .featur__container-grid .featur__container:nth-child(1) {
    border-right: 1px solid #a89090;
  }
  .featur .featur__container-grid .featur__container:nth-child(2) {
    border-right: 1px solid #a89090;
  }
  .featur .featur__container-grid .featur__container:nth-child(4) {
    border-right: 1px solid #a89090;
  }
  .featur .featur__container-grid .featur__container:nth-child(5) {
    border-right: 1px solid #a89090;
  }
  .featur .featur__container-grid .featur__container:nth-child(n+4) {
    border-top: 1px solid #a89090;
  }
}

.write {
  padding-bottom: 1rem;
  font-weight: 700;
}
.write__title-center {
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
}
.write__form {
  padding: 0 3rem;
}
.write__label {
  padding-bottom: 1.6rem;
}
.write__label input {
  width: 100%;
  padding: 0.5rem 1rem;
}
.write__container-contact {
  padding-bottom: 1rem;
}
.write__container-contact p {
  font-size: 0.9rem;
  padding-bottom: 0.4rem;
}
.write__container-contact input {
  margin-right: 0.5rem;
}
.write__container-contact label {
  margin-right: 0.8rem;
  font-size: 1.2rem;
}
.write__container-topic {
  padding-bottom: 1rem;
}
.write__container-topic input {
  width: 100%;
  padding: 0.5rem 1rem;
}
.write__container {
  padding-bottom: 0.5rem;
}
.write__container textarea {
  width: 100%;
  padding: 0 1rem;
}
.write__container-submit {
  justify-content: space-between;
  align-items: center;
}
.write__submit input {
  padding: 0.8rem 1.7rem;
  width: 100%;
}
@media (min-width: 600px) {
  .write .write__container-label {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .write .write__container-contact p {
    display: inline-block;
    padding-right: 1rem;
  }
}

.footer {
  border-top: 1px solid #a89090;
  border-bottom: 1px solid #a89090;
}
.footer__container {
  padding: 3rem 0;
}
.footer__list {
  justify-content: center;
}
.footer__item {
  margin-left: 0.4rem;
}
.footer__link {
  display: inline-block;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 40px;
  border-radius: 50%;
}
.footer__link i {
  padding: 4px;
  color: #5f3c3c;
}
.footer__title {
  text-align: center;
  font-size: 1rem;
  padding-top: 1.5rem;
  font-weight: 700;
}
@media (min-width: 850px) {
  .footer {
    border-bottom: none;
  }
}